:root {
    --main-title-color: #ffffff;
    --second-title-color: #303030;
    --second-text-color: rgba(157, 164, 189, 0.6);
    --main-text-color: #555555;
    --accent-color: #ff6c00;
    --main-btn-color: #ffffff;
    --header-text-color: #ffffff;
    --third-text-color: #9da4bd;
    --bg-footer: #f7f7f7;
}

body {
    font-family: 'Open sans', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
li,
.list {
    list-style: none;
}

.link {
    text-decoration: none;
    transition: color 400ms linear, background-color 400ms linear;
}
/* .current::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: var(--accent-color);
    bottom: -48px;
    left: 0;
} */

/*---------------Header---------*/
.header {
    position: absolute;
    top: 0;
    width: 100%;
}
.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}
.header-menu {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.header-menu:last-child {
    margin-right: 0;
}

.menu-left {
    margin-left: auto;
}
.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
}

.header-logo {
    margin-right: 70px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--second-title-color);
}

.header-logo-icon {
    fill: currentColor;
    transition: color 300ms linear;
}
.header-logo:hover {
    color: var(--accent-color);
}

.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);

    margin-right: 40px;
}

.btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--main-btn-color);
    cursor: pointer;

    min-width: 160px;
    min-height: 40px;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: transparent;
    transition: color 400ms linear, background-color 400ms linear;
}

.btn-black {
    color: var(--second-title-color);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}
.btn:hover,
.btn:focus {
    color: var(--main-btn-color);
    background-color: var(--accent-color);
}

/**---------------------hero----------------------**/
.hero-container {
    display: flex;
}

.hero-left {
    display: flex;
    width: 93px;
    align-items: flex-end;
    padding-left: 23px;
    padding-bottom: 40px;
}
.hero-list::before {
    content: '';
    height: 1px;
    width: 60px;
    display: block;
    background-color: #303030;
    margin-right: 40px;
}

.hero-list {
    display: flex;
    transform: rotate(-90deg) translateX(-19px);
    transform-origin: top left;
    align-items: center;
}
.hero-right {
    flex-grow: 1;
    padding-top: 272px;
    padding-bottom: 205px;
    padding-left: 95px;

    background-color: #000000;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url(../images/slider-img-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pre-title::before {
    content: '';
    width: 63px;
    height: 1px;
    display: block;
    background-color: #303030;
    margin-right: 20px;
}
.left-item + .left-item {
    margin-left: 40px;
}

.pre-title.black::before {
    background-color: rgba(157, 164, 189, 0.6);
}

.social-item {
    text-decoration: none;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--second-title-color);
    transition: color 400ms linear, background-color 400ms linear;
}

.social-item:focus,
.social-item:hover {
    color: var(--accent-color);
}

.hero-title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--main-title-color);

    margin-bottom: 20px;
}

.hero-after-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
    width: 400px;
}

/**------------------О НАС-----------------**/
.about-container {
    display: flex;
}
.about-list {
    display: flex;
    padding-top: 139px;
    padding-bottom: 121px;
}
.about-item:not(:last-child) {
    margin-right: 30px;
}

.right-about {
    padding-top: 139px;
    padding-bottom: 125px;
    padding-left: 64px;
}

.pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--second-title-color);

    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.section-title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--second-title-color);

    margin-bottom: 20px;
}

.section-after-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--main-text-color);

    margin-bottom: 20px;
}

.section-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--main-text-color);

    margin-bottom: 40px;
}

/*--------------------Услуги и цены--------------------*/

.price-container {
    padding-top: 130px;
    padding-bottom: 130px;
    padding-right: 55px;
    padding-left: 55px;
    background-color: #111319;
    background-image: url(../images/price-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.services-list {
    display: flex;
    margin-bottom: 50px;
}

.list-wrapp {
    min-width: 50%;
    padding: 30px 40px;
}

.light {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.dark {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item::after {
    content: '';
    height: 1px;
    flex-grow: 1;
    background-color: rgba(157, 164, 189, 0.12);
    margin-right: 6px;
    margin-left: 6px;
}
.cost {
    order: 3;
}

.price-item:not(:first-child) {
    margin-top: 20px;
}

.pre-title.black {
    color: var(--second-text-color);
}
.section-title.black {
    color: var(--main-title-color);
    margin-bottom: 44px;
}
.price-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--third-text-color);

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.price-btn {
    display: block;
    margin: 0 auto;
}

/*--------------Почему к нам?-------------*/
.container-benefits {
    display: flex;
    padding-bottom: 130px;
    padding-top: 130px;
    padding-left: 155px;
}
.benefits-wrapp {
    width: 50%;
}
.benefits-list {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    margin-top: -10px;
}
.benefits-item {
    flex-direction: column;
    display: flex;
    width: 170px;
    height: 133px;
    padding: 19px;
    background-color: #f7f7f7;
    margin-right: 30px;
}

.benefits-item:nth-child(2n) {
    margin-right: 0;
    margin-top: 35px;
}
.benefits-item:nth-child(n + 3) {
    margin-bottom: 0;
}

.list-number {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--second-title-color);

    margin-bottom: 6px;
}
.list-number::after {
    content: '+';
    color: var(--accent-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.36;
    vertical-align: text-top;
}

.list-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;

    color: var(--second-title-color);
}

/*-------------------Наши мастера---------------*/
.container-masters {
    background-color: #f7f7f7;
    padding-top: 130px;
    padding-bottom: 130px;
}

.list-masters {
    display: flex;
    margin-left: -30px;
}

.section-title.masters {
    margin-bottom: 44px;
}
.masters-item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin-left: 30px;
}
.master {
    color: var(--second-title-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;

    margin-top: 30px;
}
.prof {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);

    margin-top: 8px;
    margin-bottom: 30px;
}

.master-social-icons {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}
.master-social-icons:last-child {
    margin-right: 0;
}

.master-social-list {
    display: flex;
    justify-content: center;
}

.master-social-link {
    width: 100%;
    height: 100%;

    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 400ms linear, background-color 400ms linear;
}
.masters-social-icon {
    fill: var(--second-title-color);
    transition: fill 300ms linear;
}
.master-social-link:hover,
.master-social-link:focus {
    background-color: #ffffff;
}

.master-social-link:hover .masters-social-icon,
.master-social-link:focus .masters-social-icon {
    fill: var(--accent-color);
}

/*----------------Gallery-------------------*/
.container-prof {
    padding-bottom: 130px;
    padding-top: 130px;
}
.list-prof {
    margin-top: 44px;
    display: flex;
}
.prof-item:not(:last-child) {
    margin-right: 30px;
}

/*------two containers---------------*/
.two-containers {
    display: flex;
    background-color: #191c26;
}
.sign-up {
    padding-top: 130px;
    padding-bottom: 130px;
    width: 51%;
    padding-left: 55px;
}

/*---------------Контакты--------------------*/
.contact-section {
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 130px;
    width: 49%;
    background-image: url(../images/Bg.png);
}

.contact-list {
    width: 270px;
    margin-bottom: 70px;
}

.contact-name {
    margin-bottom: 20px;
}

.contact-item {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
}
.mail {
    text-decoration-line: underline;
}

.work-time {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--main-title-color);

    margin-left: 80px;
    margin-bottom: 20px;
}

/*------------------------Footer-----------------------*/
.footer-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--third-text-color);
    background-color: var(--bg-footer);
}

.footer-container {
    display: flex;
    padding-top: 57px;
    padding-bottom: 55px;
}
.list-social {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.footer-link {
    margin-left: 40px;
}
.list-social::before {
    content: '';
    height: 1px;
    width: 60px;
    display: block;
    background-color: #303030;
    margin-right: 40px;
}
